# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
*text=auto

#
# The above will handle all files NOT found below
#
# These files are text and should be normalized (Convert crlf => lf)
.classpath      text
.project        text
*.css           text
*.df            text
*.groovy        text
*.htm           text
*.html          text
*.java          text
*.js            text
*.json          text
*.jsp           text
*.jspf          text
*.rb            text
*.sh            text
*.sql           text
*.tld           text
*.ucls          text
*.wsdl          text
*.xml           text
*.xsd           text
*.xsl           text
*.yml           text

# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.class         binary
*.dll           binary
*.ear           binary
*.gif           binary
*.ico           binary
*.jar           binary
*.jpg           binary
*.jpeg          binary
*.pdf           binary
*.png           binary
*.so            binary
*.war           binary

# Declare files that will always have CRLF line endings on checkout.
*.properties text eol=crlf
*.txt text eol=crlf
*.bat text eol=crlf

